.header {
    background: #8a8a8a;
}

.header .columns {
    padding-bottom: 0;
}

.header p {
    color: #fff;
    margin-bottom: 0;
}

.header .wrapper-inner {
    padding: 20px;
    /*controls the height of the header*/
}

.header .container {
    background: #8a8a8a;
}

img.kafka-logo {
    object-fit: cover;
    object-position: 0 50%;
    width: 208px;
    height: 100px;
}

.main-title {
    font-size: 40px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

th.article-line {
    padding-left: 32px;
    padding-right: 16px;
}